.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 45px auto 0;
  min-height: 60vh;
  max-width: 880px;
}

@media screen and (width >= 320px) and (width <= 599px) {
  .container {
    margin-top: 36px;
    width: calc(100% - 40px);
    box-sizing: border-box;
  }
}

@media screen and (width >= 580px) and (width <= 879px) {
  .container {
    width: calc(282px + 282px + 20px);
  }
}
