.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px 30px;
  margin: 0;
  padding: 28px 0;
}

@media screen and (width <= 899px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 22px;
  }
}

@media screen and (width <= 599px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
