.cards {
  margin: 0;
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (width <= 319px) {
  .cards {
    display: none;
  }
}

@media screen and (width >= 320px) and (width <= 599px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (width >= 580px) and (width <= 879px) {
  .cards {
    width: calc(282px + 282px + 20px);
    grid-template-columns: 1fr 1fr;
  }
}
